/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 50px; /* Ajustez cette valeur si nécessaire */
}



header {
    background-color: #6c63ff;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Introduction Section */
.introduction {
    padding: 40px 20px;
    background-color: #fff;
    margin-top: 20px;
    text-align: center; /* Centre le texte dans la section */
}

.intro-content {
    display: flex;
    flex-direction: column; /* Change la direction pour empiler les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    gap: 20px; /* Espacement entre l'image et le texte */
}

.intro-photo {
    flex-shrink: 0; /* Empêcher l'image de rétrécir */
}

.intro-photo img {
    border-radius: 50%; /* Bord arrondi pour un effet de cercle */
    width: 200px; /* Largeur fixe pour la photo */
    height: 200px; /* Hauteur fixe pour la photo */
    object-fit: cover; /* Assurer que l'image garde ses proportions */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajouter une ombre pour un effet de cadre */
}

.intro-text {
    max-width: 600px; /* Largeur maximale pour le texte */
}

.introduction h2 {
    margin-bottom: 20px;
    color: #6c63ff; /* Couleur pour le titre */
}

.introduction p {
    color: #555;
}

/* Social Links Section */
.social-links {
    margin-top: 20px;
    text-align: center;
}

.social-link {
    display: inline-block;
    margin: 0 10px;
}

.social-link img {
    width: 40px; /* Ajuste la taille des icônes selon tes préférences */
    height: auto;
    transition: opacity 0.3s ease;
}

.social-link img:hover {
    opacity: 0.7; /* Change l'opacité au survol pour un effet visuel */
}

/* Section des certifications */
.certifications {
    padding: 40px 20px;
    background-color: #fff;
    margin-top: 20px;
    text-align: center;
}

.certifications h2 {
    margin-bottom: 20px;
    color: #6c63ff; /* Couleur pour le titre */
}

.certifications-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centre les cartes de certifications horizontalement */
    gap: 20px; /* Espacement entre les cartes */
}

.certification-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 150px; /* Largeur fixe pour chaque carte */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajoute une transition douce */
}

.certification-card:hover {
    transform: scale(1.9); /* Agrandit légèrement la carte */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Augmente l'ombre au survol */
}

.certification-card img {
    max-width: 100px; /* Largeur maximale pour le logo */
    height: auto;
    margin-bottom: 10px;
}

.certification-card p {
    color: #555;
}

/* Bouton Voir le Certificat */
.view-certificate-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #6c63ff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.view-certificate-btn:hover {
    background-color: #594bd6;
}


/* Skills Section */
.skills {
    padding: 40px 20px;
    background-color: #fff; /* Assurez-vous que l'arrière-plan est blanc pour correspondre */
    margin-top: 20px;
    text-align: center; /* Centre le contenu textuel */
}

.skills h2 {
    margin-bottom: 20px;
    color: #6c63ff; /* Couleur pour le titre */
}

.skills-container {
    display: flex;
    justify-content: center; /* Centre les logos de compétences horizontalement */
    gap: 20px; /* Espacement entre les logos */
    flex-wrap: wrap; /* Permet aux logos de passer à la ligne suivante si nécessaire */

}

.skill-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100px; /* Largeur fixe pour chaque logo */
    text-align: center; /* Centre le logo dans chaque carte */
}

.skill-card img {
    max-width: 60px; /* Largeur maximale pour chaque logo */
    height: auto;
}
.skills-list {
    flex: 1;
    padding-right: 20px;
    text-align: left;
}

.skills-list h3 {
    font-size: 14px; /* Ajustez la taille du texte si nécessaire */
    color: #333;
    margin: 0; /* Supprime les marges par défaut */
    padding: 0;
}
.skill-card:hover {
    transform: scale(1.4); /* Agrandit légèrement la carte */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Augmente l'ombre au survol */
}

/* Big Projects Section */
.projects {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff;
    margin-top: 20px;
}

.projects h2 {
    margin-bottom: 20px;
    color: #6c63ff; /* Couleur pour le titre */
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-card h3 {
    margin: 15px 0 10px;
    color: #000; /* Couleur noire pour le titre */
}

.project-card p {
    color: #555;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #6c63ff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #594bd6;
}

/* Work Experience Section */
.work-experience {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.work-experience h2 {
    margin-bottom: 20px;
    color: #6c63ff; /* Couleur pour le titre */

}

.experience-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.experience-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease;
}

.experience-card:hover {
    transform: translateY(-10px);
}

.experience-card img {
    max-width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.experience-card h3 {
    margin: 10px 0;
    color: #000; /* Couleur noire pour le titre */
}

.experience-card p {
    color: #555;
    margin-bottom: 10px;
}
.experience-card:hover {
    transform: scale(1.4); /* Agrandit légèrement la carte */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Augmente l'ombre au survol */
}
/* Education Section */
.education {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff; /* Assurez-vous que l'arrière-plan est blanc pour correspondre */
    margin-top: 20px;
}

.education h2 {
    margin-bottom: 20px;
    color: #6c63ff; /* Couleur pour le titre, comme les autres titres */
    font-size: 2rem; /* Ajuste la taille de la police pour qu'elle corresponde aux autres sections */
}

.education-container {
    display: flex; /* Utiliser flex pour aligner les cartes comme dans les autres sections */
    justify-content: center; /* Centre les cartes horizontalement */
    gap: 20px; /* Espacement entre les cartes */
    flex-wrap: wrap; /* Permet aux cartes de passer à la ligne suivante si nécessaire */
}

.education-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px; /* Ajuste la largeur des cartes pour correspondre aux autres sections */
    transition: transform 0.3s ease;
    text-align: center; /* Centre le texte dans chaque carte */
}


.education-card:hover {
    transform: scale(1.3); /* Agrandit légèrement la carte au survol */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Augmente l'ombre pour un effet de profondeur */
}

.education-card img {
    max-width: 80px; /* Largeur maximale pour le logo */
    height: auto;
    margin-bottom: 10px;
}

.education-card h3 {
    margin: 10px 0;
    color: #000; /* Couleur noire pour le titre */
}

.education-card p {
    color: #555;
    margin-bottom: 10px;
}
/* Experience Associative Section */
.associative-experience {
    padding: 40px 20px;
    text-align: center;
    background-color: #fff; /* Fond blanc pour cette section */
    margin-top: 20px;
}

.associative-experience h2 {
    margin-bottom: 20px;
    color: #6c63ff; /* Couleur pour le titre */
}

.associative-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start; /* Assure que les images et les cartes sont alignées correctement */
}

.associative-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; /* Largeur fixe pour les cartes */
    position: relative;
    overflow: hidden; /* Cache le contenu débordant */
    transition: transform 0.3s ease;
}

.associative-card:hover {
    transform: translateY(-10px);
}

.associative-card img {
    max-width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.additional-images {
    display: flex;
    justify-content: center; /* Centre les images horizontalement */
    gap: 20px; /* Espacement entre les images */
    margin-top: 20px; /* Espacement au-dessus des images */
}

.additional-images img {
    width: 300px; /* Largeur fixe pour les images pour correspondre à la largeur des cartes */
    height: auto;
    border-radius: 5px; /* Ajouter des coins arrondis pour une apparence plus soignée */
}
/* Additional Images Section */
.additional-images {
    display: flex;
    justify-content: center; /* Centre les images horizontalement */
    gap: 20px; /* Espacement entre les images */
    margin-top: 20px; /* Espacement au-dessus des images */
}

.additional-images img {
    width: 250px; /* Largeur fixe pour les images */
    height: auto; /* Maintient les proportions de l'image */
    border-radius: 5px; /* Coins arrondis pour une apparence plus soignée */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajoute une transition douce pour l'agrandissement et l'ombre */
}

.additional-images img:hover {
    transform: scale(2.2); /* Agrandit l'image de 10% au survol */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ajoute une ombre plus marquée lors du survol */
}

/* Contact Section */
.contact {
    padding: 40px 20px;
    background-color: #6c63ff; /* Couleur de fond */
    color: white; /* Couleur du texte */
    text-align: center;
    margin-top: 20px;
}

.contact h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.contact p {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.contact-info a {
    color: #ffeb3b; /* Couleur pour les liens */
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}
/* Languages Section */
.languages {
    padding: 40px 20px;
    background-color: #fff; /* Fond blanc pour cette section */
    margin-top: 20px;
    text-align: center;
}

.languages h2 {
    margin-bottom: 20px;
    color: #6c63ff; /* Couleur pour le titre */
    font-size: 2rem; /* Ajuste la taille de la police */
}

.languages-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.language-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
    transition: transform 0.3s ease;
}

.language-card:hover {
    transform: translateY(-10px);
}

.language-card h3 {
    margin: 10px 0;
    color: #000;
}

.language-card p {
    color: #555;
    margin-bottom: 10px;
}

.language-card .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #6c63ff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.language-card .btn:hover {
    background-color: #594bd6;
}
